@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-shadow: none !important;
}

body {
  background-color: #fff;
  font-family: "DM Serif Text", serif;
}

/* In common */
.i-mt-10 {
  margin-top: 10px;
}

.i-mb-10 {
  margin-bottom: 10px;
}

.i-mr-10 {
  margin-right: 10px;
}

.i-ml-10 {
  margin-left: 10px;
}

/* Message */
.i-error-message {
  margin-bottom: 46px;
  padding: 20px;
  font-size: 14px;
  color: #aa3939;
  border-radius: 8px;
  background: #fff;
}

/* Button */
.i-button {
  margin: 20px;
  font-size: 20px;
}

.i-button:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.i-save-button {
  border-radius: 20px;
  color: #087f5b;
}

.i-cancel-button {
  border-radius: 20px;
  color: #aa3939;
}

.i-small-button {
  width: 50px;
  height: 50px;
  background-color: #087f5b;
  border: 1px solid #087f5b;
  border-radius: 25px;
  color: #fff;
  top: -30px;
  position: relative;
  margin-bottom: -24px;
  font-size: 14px;
}

.i-small-button-add:hover {
  font-size: 16px;
}

.i-small-button-del {
  background-color: #721c24;
  border: 1px solid #721c24;
}

.i-small-button-del:hover {
  background-color: #721c24;
  border: 1px solid #721c24;
  font-size: 16px;
}

/* Modal */
.modal-content {
  background-color: #f7f3f3;
}

.modal-title {
  color: #087f5b;
  font-weight: bold;
}

.i-body {
  height: 500px;
  overflow-y: auto;
}

.i-item {
  width: 98%;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #efe2e2;
  border: 2px solid #efe2e2;
  border-radius: 5px;
}

.i-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #087f5b;
}

.i-item-title-left {
  font-weight: bold;
}

.i-item-title-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.i-item-title-right-icon {
  position: relative;
  top: -1px;
}

.i-item-title-right-icon:hover {
  color: #000;
  cursor: pointer;
}

.i-item-body {
  margin-top: 5px;
  margin-bottom: 20px;
}

.i-danger-message {
  color: #721c24;
}

.i-operation-normal-size {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin: 0 0 10px 0;
}

/* Mask */
.i-mask {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #efe2e2;
  color: #fff;
}

/* Loading animation */
.i-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.i-overlay img {
  display: block;
}
